body{
	font-size: 0;
}
header{
	height: 75px;
	background-color: #4141b3;
	border: 2px solid black;
}
h3{
	margin: 0;
	color :#e0f5f9;
	text-align: center;
	padding: 19px;
}
.breadcrumb{
	background-color: transparent;
	font-size: 15px;
}
#tree{
	border: 1px solid black;
	width: 25%;
	height: 525px;
	display: inline-block;
	box-sizing:border-box;
	float: left;
	font-size: 15px;
}
#tree ul{
	list-style: none;
	padding-left: 25px
}
#tree ul li{
	margin: 5px 0;
	cursor: pointer;
	position: relative;
}
#tree ul li.hasChild ul{
	display: none;
}
#tree ul li.hasChild.open > ul{
	display: block;
}
#tree ul li::before{
	display: inline-block;
	position: absolute;
	height: 16px;
	width: 16px;
	left: -18px;
	line-height: 13px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
}
#tree ul li.hasChild::before{
	top: 0;
	content: "+";
    padding-left: 2px;
    font-size: 15px;
    border: 1px solid grey;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#tree ul li.hasChild.open::before{
	content: "--";
}
#tree ul li.file::before{
	content: '';
}
#tree ul li.img::before{
	background-image: url('../images/image.png');
}
#tree ul li.txt::before{
	background-image: url('../images/text.png');
}
#tree ul li.video::before{
	background-image: url('../images/video.png');
}
#tree ul li.audio::before{
	background-image: url('../images/audio.png');
}
#content{
	width: 75%;
	height: 525px;
	border: 1px solid black;
	box-sizing:border-box;
	display: inline-block;
	font-size: 15px;
}
#content tr{
	cursor: pointer;
}
#content td{
	position: relative;
}
#content td.folder:before{
	content: '';
	background-image: url('../images/folder.png');
	position: absolute;
	top: 0;
	left: -10px;
	width: 15px;
	height: 15px;
	display: inline-block;
}

.openFile{
	min-width: 250px;
	min-height: 350px;
	margin: 0 auto;
	position: fixed;
	
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}
.openfile img{
	width: 250px;
	height: 250px;
	margin:  0 auto;
	overflow: scroll;
}
footer{
	height: 25px;
	background-color: #4141b3;
}

